*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


test.db
.idea/*
*.iml
.idea/misc.xml
cosync.db
*.db
*.db
cosync.db

diff/*
*.zip
